page-user-profile {
    .profile-picture img {
        
          object-fit: cover;
        overflow: hidden;
          width: 80px;
          height: 80px;
          border-radius: 100%;
          image-orientation: from-image;
        }
    .top{
        background: orange;
        text-align: center;
    }
}
