.ios,.md{
    page-user-profile {

        .bg{
            background-image: url('../assets/imgs/dp.jpg');
            height: 300px;
            background-size: cover;
            filter: blur(5px);
            background-position: center center;
            
        }

        .main-cnt{
            width: 100%;
            height: 70%; 
            background-color: rgb(247, 215, 156);
        }
    }
}